h1, h2, h3, h4, h5 {
  font-family: 'Acme', sans-serif;
}

body :not(h1):not(h2):not(h3):not(h4):not(h5){
  font-family: 'Slabo 27px', sans-serif;
}

body {
  background-color: #f7fafc
}

.border-solid {
  border-style: solid;
}

.border-1 {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-3 {
  border-width: 3px;
}